.container {
    animation-duration: 2000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: animation-os2n7p;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.clash-text {
    font-family: Clash Display;
}

.timeline {
    background: linear-gradient(270deg,#903aff,#d434fe);
}

.star {
    animation: glowing 2s infinite;
}