.container {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: animation-os2n7p;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.fam {
    font-family: Montserrat;
    line-height: 27.5px; 
}

.star  {
    animation: glowing 2s infinite;
}